node_modules

# react-router
/.cache
/build
/public/build
.react-router/

.env
!.env.example

# IDEs
.idea
.vscode
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Testing
/playwright
.playwright/.cache/
.playwright/output/
coverage
.jest-cache

# Storybook
/storybook-static/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
