.crossHatch {
  --line-color: 48, 48, 48;

  background-color: transparent;
  background-image: repeating-linear-gradient(
      45deg,
      rgba(var(--line-color), 0),
      rgba(var(--line-color), 0) 5px,
      rgba(var(--line-color), 1) 5px,
      rgba(var(--line-color), 1) 6px
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(var(--line-color), 0),
      rgba(var(--line-color), 0) 5px,
      rgba(var(--line-color), 1) 5px,
      rgba(var(--line-color), 1) 6px
    );
  background-size:
    8px 8px,
    8px 8px;
}
